html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  
}

html > body {
  background-color: #f6f6f6;
}

.root{
  padding: 20px;
  height: 100%;
  
}

#add-book{
  float: right;
}

h1{
  text-align: center;
  font-weight: bolder;
}

.book-list{
  padding: 30px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-primary{
  margin-right: 5px;
}

.switch{
  margin-right: 5px ;
}

.card-body{
  background-color: #f6f6f6;
}

body .card{
  border: 2px solid #1e56a0;
  border-radius: 1px;
}